.differential {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.5rem;
  width: 11lvw;
  background-color: white;
  margin: 0.25rem;
  font-weight: 500;
}

.differential input {
  border: none;
  padding: 0.25rem;
  width: 10lvw;
  font-size: 1.25rem;
  outline: none;
  border-bottom: 0.25rem;
}
.differential:focus-within p {
  color: blue;
}
